@font-face {
  font-family: "Sphere";
  src: url("spheresans-webfont.woff");
}
/* line 9, ../sass/style.sass */
#backid {
  position: absolute;
  top: 0;
  z-index: -100;
  width: 100%;
  height: auto;
}

/* line 17, ../sass/style.sass */
.misBotons {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;
}

/* line 25, ../sass/style.sass */
.botonenuevos {
  display: inline-block;
  width: 33vw;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin-right: -5px;
  text-decoration: none;
}
/* line 34, ../sass/style.sass */
.botonenuevos:hover, .botonenuevos:focus {
  text-decoration: none;
  color: white;
}
/* line 38, ../sass/style.sass */
.botonenuevos div {
  position: relative;
  color: white;
  padding-top: 7px;
  top: 22%;
  height: 41px;
}

/* line 47, ../sass/style.sass */
#about {
  background-color: #8864DD;
  transition: background-color 1s ease-out;
  font-family: "Sphere", sans-serif;
  font-size: 126%;
}

/* line 54, ../sass/style.sass */
#about:hover {
  background-color: #6232d2;
}

/* line 58, ../sass/style.sass */
#projects {
  background-color: #FFD455;
  transition: background-color 1s ease-out;
  font-family: "Sphere", sans-serif;
  font-size: 126%;
}

/* line 65, ../sass/style.sass */
#projects:hover {
  background-color: #f5b800;
}

/* line 69, ../sass/style.sass */
#contact {
  background-color: #FF495F;
  transition: background-color 1s ease-out;
  font-family: "Sphere", sans-serif;
  font-size: 126%;
}

/* line 76, ../sass/style.sass */
#contact:hover {
  background-color: #eb001b;
}

@media only screen and (min-width: 1190px) and (max-width: 1348px) {
  /* line 81, ../sass/style.sass */
  .listaIndex h3 {
    width: 45%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1190px) {
  /* line 87, ../sass/style.sass */
  .listaIndex h3 {
    width: 60%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  /* line 93, ../sass/style.sass */
  .listaIndex h3 {
    width: 80%;
  }
}
@media only screen and (min-width: 300px) and (max-width: 637px) {
  /* line 99, ../sass/style.sass */
  .listaIndex h3 {
    width: 100%;
    text-align: center;
  }

  /* line 104, ../sass/style.sass */
  .indexLista {
    padding: 0;
  }

  /* line 108, ../sass/style.sass */
  .cerrar {
    display: none;
  }
}
/* line 112, ../sass/style.sass */
.aboutcontainer {
  background-color: violet;
  opacity: 0;
}

/* line 116, ../sass/style.sass */
.fade-in {
  transition: all 1s ease-in 2s;
  opacity: 1;
}
